.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    }
    .showNav::before {
        content: '';
        position: absolute;
        width: 1.25em;
        margin-top: 0.3em;
        border-top: 0.2em solid #fff;
        }
    header {
    background-color: rgb(55, 246, 106);
    color: white;
    padding: 20px;
    grid-area: header;
    }
    nav  {
        display: none;
        background-color: green;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
        }
        nav > ul > li:hover ul {
            display: block;
            }
    main {
    background-color: darkblue;
    color: white;
    grid-area: main;
    }
    aside {
    background-color: lightgreen;
    grid-area: aside;
    }
    footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
    }
    body {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        
        grid-template-areas:
        
        "header header header"
        "nav nav nav"
        "main  main main"
        "aside aside aside"
        "footer footer footer"
        ;
        }